.div{
    background-color:white;
    border-style: solid;
    height:200px;
    width:200px;
    margin-left:35%;
    margin-top: 5%;
}
.hii{
    padding-left: 30px;
    padding-top: 20px;
font-family:cursive;
}