.d2{
    width:10%;
    height:300px;
    margin-left:19%;
    border-style:solid;
    background-color:rgb(143, 102, 25);
    float:left;

}
.button1{
    width:100px;
    height:25px;
    margin-left:10%;
    margin-top: 10px;
    border-left-color: brown;
    border-right-color: brown;
    border-top-color:white;
    border-bottom-color:white;
    border-right-width: 3px;
    border-left-width: 3px;
    
}
.button2{
    width:100px;
    height:25px;
    margin-left:10%;
    margin-top: 10px;
    border-left-color: brown;
    border-right-color: brown;
    border-top-color:white;
    border-bottom-color:white;
    border-right-width: 3px;
    border-left-width: 3px;
    
    
}
.button3{
    width:100px;
    height:25px;
    margin-left:10%;
    margin-top: 10px;
    border-left-color: brown;
    border-right-color: brown;
    border-top-color:white;
    border-bottom-color:white;
    border-right-width: 3px;
    border-left-width: 3px;
    
    
}
.button4{
    width:100px;
    height:25px;
    margin-left:10%;
    margin-top: 10px;
    border-left-color: brown;
    border-right-color: brown;
    border-top-color:white;
    border-bottom-color:white;
    border-right-width: 3px;
    border-left-width: 3px;
    
    
}
.button5{
    width:100px;
    height:25px;
    margin-left:10%;
    margin-top: 10px;
    border-left-color: brown;
    border-right-color: brown;
    border-top-color:white;
    border-bottom-color:white;
    border-right-width: 3px;
    border-left-width: 3px;
    
    
}
.ballon{
    width:50px;
    height:30px;
    float:left;
    margin-top:30px;
    margin-left:10px;
}
.pariss{
    width:50px;
    height:30px;
    float:left;
    margin-top:30px;
    margin-left:10px;
}


